### FILE: requirements.txt
#PDF
pdfplumber
pdf2image
PyPDF2
#OCR
pytesseract
pillow
#Utils
regex
pandas
python-magic
#Docs
docx
# GUI
PySide6
qdarktheme

# Optional (better OCR/AI services):
# google-cloud-vision
# azure-ai-formrecognizer